body{
    background-color:chartreuse;
}

h1{
    font-family: 'oswald', sans-serif;
    background-color:hotpink;
    color: blue;
    padding: 20px;
    margin-top:0;
}

#show_sketch{
    float: right;
}


#score{
font-size: 40px;
margin: left;
font-family: 'oswald', sans-serif;
}

#time{
    font-size: 40;
    float: right;
    font-family: 'oswald', sans-serif;
}

p{
    font-size: 30px;
    font-family: 'oswald', sans-serif;
}


#sketch_to_be_drawn{
    color: red;
    font-family: 'oswald', sans-serif;
}